<SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
                   xmlns:ma="http://www.datapower.com/schemas/management">
    <SOAP-ENV:Header/>
    <SOAP-ENV:Body>
        <ma:request domain="{{.Domain | default "apiconnect"}}">
            <ma:set-config>
                <ConfigSequence name="{{.ConfigSequenceName | default "apiconnect"}}">
                    <mAdminState>enabled</mAdminState>
                    <UserSummary>API Connect Configuration</UserSummary>
                    <Locations>
                        <Directory>local:///</Directory>
                        <AccessProfileName/>
                    </Locations>
                    <MatchPattern>(.*)\.cfg$</MatchPattern>
                    <ResultNamePattern>$1.log</ResultNamePattern>
                    <StatusNamePattern>$1.status</StatusNamePattern>
                    <Watch>on</Watch>
                    <UseOutputLocation>off</UseOutputLocation>
                    <OutputLocation>logtemp:///</OutputLocation>
                    <DeleteUnused>on</DeleteUnused>
                    <RunSequenceInterval>{{.ConfigurationExecutionInterval | default 3000}}</RunSequenceInterval>
                </ConfigSequence>
            </ma:set-config>
        </ma:request>
    </SOAP-ENV:Body>
</SOAP-ENV:Envelope>