<?xml version="1.0" encoding="UTF-8"?>
<SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
                   xmlns:ma="http://www.datapower.com/schemas/management">
    <SOAP-ENV:Header/>
    <SOAP-ENV:Body>
        <ma:request>
            <ma:set-config>
                <Domain name="{{.DatapowerDomain}}">
                    <mAdminState>enabled</mAdminState>
                    <UserSummary>api connect domain</UserSummary>
                    <NeighborDomain>default</NeighborDomain>
                </Domain>
            </ma:set-config>
        </ma:request>
    </SOAP-ENV:Body>
</SOAP-ENV:Envelope>
