<?xml version="1.0" encoding="UTF-8"?>
<SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
                   xmlns:ma="http://www.datapower.com/schemas/management">
    <SOAP-ENV:Header/>
    <SOAP-ENV:Body>
        <ma:request domain="{{.Domain}}">
            <ma:set-config>
                <GatewayPeeringManager name="{{.Name}}">
                    <mAdminState>enabled</mAdminState>
                    <UserSummary>APIC gw peering manager</UserSummary>
                    <APIConnectGatewayService>{{.GwdPeering}}</APIConnectGatewayService>
                    <RateLimit>{{.RateLimitPeering}}</RateLimit>
                    <Subscription>{{.SubscriptionPeering}}</Subscription>
                </GatewayPeeringManager>
            </ma:set-config>
        </ma:request>
    </SOAP-ENV:Body>
</SOAP-ENV:Envelope>
