{{ $subsys := .SubsysName}}

{{$pathsep := .OsEnv.PathSeparator}}
{{$apicup := .OsEnv.BinApicup}}

{{ template "scriptheader" .OsEnv }}

{{$apicup}} subsys create {{$subsys}} portal --k8s

{{$apicup}} subsys set {{$subsys}} mode={{.Mode}}
{{$apicup}} subsys set {{$subsys}} extra-values-file=..{{$pathsep}}{{.ExtraValuesFile | quote}}

{{$apicup}} subsys set {{$subsys}} ingress-type={{.IngressType}}
{{$apicup}} subsys set {{$subsys}} namespace={{ .Namespace }}
{{$apicup}} subsys set {{$subsys}} storage-class={{ .StorageClass }}

{{$apicup}} subsys set {{$subsys}} registry={{ .RegistryUrl }}
{{$apicup}} subsys set {{$subsys}} registry-secret={{ .RegistrySecret }}

{{$apicup}} subsys set {{$subsys}} portal-admin={{ .PortalAdmin }}
{{$apicup}} subsys set {{$subsys}} portal-www={{ .PortalWWW }}

{{$apicup}} subsys set {{$subsys}} www-storage-size-gb={{ .WwwStorageSizeGb | default 5 }}
{{$apicup}} subsys set {{$subsys}} backup-storage-size-gb={{ .BackupStorageSizeGb | default 5 }}
{{$apicup}} subsys set {{$subsys}} db-storage-size-gb={{ .DbStorageSizeGb | default 12 }}
{{$apicup}} subsys set {{$subsys}} db-logs-storage-size-gb={{ .DbLogsStorageSizeGb | default 12 }}
{{/*apicup subsys set {{$subsys}} admin-storage-size-gb={{ .AdminStorageSizeGb | default 1 }}*/}}

{{ with .SiteBackup }}
{{ if .BackupProtocol | lower | eq "sftp" }}
{{$apicup}} subsys set {{$subsys}} site-backup-protocol=sftp
{{$apicup}} subsys set {{$subsys}} site-backup-host={{.BackupHost}}
{{$apicup}} subsys set {{$subsys}} site-backup-port={{.BackupPort | default 22}}
{{$apicup}} subsys set {{$subsys}} site-backup-auth-user={{.BackupAuthUser}}
{{$apicup}} subsys set {{$subsys}} site-backup-auth-pass={{.BackupAuthPass}}
{{$apicup}} subsys set {{$subsys}} site-backup-path={{.BackupPath }}
{{$apicup}} subsys set {{$subsys}} site-backup-schedule={{.BackupSchedule | quote}}
{{ else if .BackupProtocol | lower | eq "objstore" }}
{{$apicup}} subsys set {{$subsys}} site-backup-protocol=objstore
{{$apicup}} subsys set {{$subsys}} site-backup-host={{ .ObjstoreEndpointRegion }}
{{$apicup}} subsys set {{$subsys}} site-backup-auth-user={{ .ObjstoreS3SecretKeyId }}
{{$apicup}} subsys set {{$subsys}} site-backup-auth-pass={{ .ObjstoreS3SecretAccessKey }}
{{$apicup}} subsys set {{$subsys}} site-backup-path={{ .ObjstoreBucketSubfolder }}
{{$apicup}} subsys set {{$subsys}} site-backup-schedule={{ .BackupSchedule | quote }}
{{ end }}
{{ end }}